.home-wrapper {
    max-width: clamp(300px, 60vw, 1000px);
    margin: auto;
    text-align: center;
    padding: 1rem;
}
.home-wrapper {
    box-shadow: 0px 3px 395px 0px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 3px 395px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 3px 395px 0px rgba(0,0,0,0.58);
    border-radius: 10px;
}